%div#container_formulario.mx-auto.col-sm-12
  %div{:class=>''}
    %p Empresa
    %h3
      Localize Caminhoneiros e contrate online
    %p
      Mais de 553 mil caminhoneiros baixaram o app TruckPad em todo o Brasil.
    %p
      Experimente, encontre Caminhoneiros no mapa!
    %form{:action => "",:id=>'localizarCaminhoes',:class=>'row'}
      .col-sm-6
        %div.form-group
          %label 
            Local de origem
          %select{:type=>"text",:class=>"form-control",:id=>'paisOrigem'}
            %option{:value => "Brasil-Origem"} Brasil
            %option{:value => "Argentina-Origem"} Argentina
            %option{:value => "Colombia-Origem"} Colombia
            %option{:value => "Mexico-Origem"} Mexico
            %option{:value => "Chile-Origem"} Chile
            %option{:value => "Paraguai-Origem"} Paraguai
            %option{:value => "Uruguai-Origem"} Uruguai
            %option{:value => "Venezuela-Origem"} Venezuela
        %div.form-group
          %label 
            Local de destino
          %select{:type=>"text",:class=>"form-control",:id=>'paisDestino'}
            %option{:value => "Brasil-Destino"} Brasil
            %option{:value => "Argentina-Destino"} Argentina
            %option{:value => "Colombia-Destino"} Colombia
            %option{:value => "Mexico-Destino"} Mexico
            %option{:value => "Chile-Destino"} Chile
            %option{:value => "Paraguai-Destino"} Paraguai
            %option{:value => "Uruguai-Destino"} Uruguai
            %option{:value => "Venezuela-Destino"} Venezuela
      .col-sm-6
        %div.form-group
          %label 
            Cidade Origem
          %select{:type=>"text",:class=>"form-control",:id=>'cidadeOrigem'}
            %option{:value => ""}
            %option{:value => "S達o-Paulo"} S達o Paulo
            %option{:value => "Rio-de-Janeiro"} Rio de Janeiro
        %div.form-group
          %label 
            Cidade destino
          %select{:type=>"text",:class=>"form-control",:id=>'cidadeDestino'}
            %option{:value => ""}
            %option{:value => "S達o-Paulo-dest"} S達o Paulo
            %option{:value => "Rio-de-Janeiro-dest"} Rio de Janeiro
      .container-fluid
        .float-right
          %a{:href=>'/leads/new',:class=>"btn bg-info rounded mx-auto"}Cadastre sua empresa
          %button{:class=>'rounded btn  btn-success mx-auto', :type=>'button',:id=>'localizarButtonForm'}
            Localizar caminhoneiros

